body {
  /*margin-left: 10px;
  margin-right: 10px;*/
  overflow-x: hidden;
  position: relative;
  /*padding-bottom: 40px;*/
  line-height: 1.5;
  padding: 1em 1em 1em 1em;
  color: #555555;
  background-color: #EEE8AA;
  font-family: "Helvetica", sans-serif;
}

h2 {
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #555555;
  	margin-top: 0px;
}

h3 {
  font-weight: bold;
}

a {
  color: #555555;
}

a:visited {
    color: #555555;
}

#About a:hover {
  font-weight: bold;
}


#About {
   margin-top: 2em;
   padding: 1em;
   
}

#Portfolio{
   margin-top: 0px;
   padding-left: 1em;
   padding-right: 1em;
}

#contact{
  margin-top: 0px;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-brand {
  height: 40px;
  margin: -10px;
  padding-bottom: 0px;
  width: auto;
}
.navbar-default {
    color: #555555;
    background-color: #EEE8AA; /*#F8F8F8;*/
    border-color: #EEE8AA; /*#E7E7E7;*/
}

.navbar-collapse{
  color: #555555;
}

.navbar-default .navbar-nav > li > a {
    color: #555555;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffff99; /*#E7E7E7;*/
    color: #555555;
}

.btn-default{
  margin-top: 1em;
  color: #555555;
  text-shadow: 0px 0px;
}

.btn-default:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  margin: auto;
  text-align: center;
  
}

.img-logo1 {
  -webkit-animation: logo-move 1s; 
   animation: logo-move 1s;
  }

.img-logo2 {
   -webkit-animation: logo-move 2s; 
    animation: logo-move 2s;
   }

.img-logo3 {
   -webkit-animation: logo-move 3s; 
    animation: logo-move 3s;
   }   

.img-logo4 {
   -webkit-animation: logo-move 4s; 
    animation: logo-move 4s;
   }
   
.img-logo5 {
   -webkit-animation: logo-move 5s; 
    animation: logo-move 5s;
   }

.img-logo6 {
   -webkit-animation: logo-move 6s; 
    animation: logo-move 6s;
   }

.img-logo7 {
   -webkit-animation: logo-move 7s; 
    animation: logo-move 7s;
   }

.img-logo8 {
    -webkit-animation: logo-move 8s; 
     animation: logo-move 8s;
    }

.img-logo9 {
  -webkit-animation: logo-move 9s; 
    animation: logo-move 9s;
}

.img-logo10 {
    -webkit-animation: logo-move 10s; 
      animation: logo-move 10s;
}

.img-logo11 {
      -webkit-animation: logo-move 11s; 
        animation: logo-move 11s;
}

@keyframes logo-move {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.portfolio-item {
  min-height: 150px;
}

.img-portfolio{
  float: right;
  margin: 0 0 10px 10px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-portfolio:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/*
.col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}

.col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.col-sm-6 {
  margin-bottom: 20px;
  text-align: center;
}

.col-sm-6 p {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
*/
.social{
  margin: 0;
  padding: 0;
  text-align: center;
}

.social i {
    margin: 5px;
    width: 40px;
    height: 40px;
    color: #555555;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.fa:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  /*background-color: #ffff99;*/
}

.fa-linkedin:hover{
  color: white;
  background: #0077b5;
}

.fa-github:hover{
  color: white;
  background: black;
}

.fa-codepen:hover{
  color: white;
  background: black;
}

.fa-instagram:hover{
  color: white;
  background: #125688;
}

#contact .fa-free-code-camp:hover{
  color: white;
  background: green;
}

footer{
  padding-bottom: 10px;
  text-align:right;
}

footer .fa:hover{
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  color: red;
}
